In [2]:
import numpy as np
import pandas as pd

In [2]:
df=pd.read_csv('C:\\Users\\navee\\Cisco Packet Tracer 8.2.2\\saves\\Weather.csv')
print(df.head())

   MinTemp  MaxTemp  Rainfall  Evaporation  Sunshine WindGustDir  \
0      8.0     24.3       0.0          3.4       6.3          NW
1     14.0     26.9       3.6          4.4       9.7         ENE
2     13.7     23.4       3.6          5.8       3.3          NW
3     13.3     15.5      39.8          7.2       9.1          NW
4      7.6     16.1       2.8          5.6      10.6         SSE

   WindGustSpeed WindDir9am WindDir3pm  WindSpeed9am  ...  Humidity3pm  \
0           30.0         SW         NW           6.0  ...           29
1           39.0          E          W           4.0  ...           36
2           85.0          N        NNE           6.0  ...           69
3           54.0        WNW          W          30.0  ...           56
4           50.0        SSE        ESE          20.0  ...           49

   Pressure9am  Pressure3pm  Cloud9am  Cloud3pm  Temp9am  Temp3pm  RainToday  \
0       1019.7       1015.0         7         7     14.4     23.6         No
1       1012.4       1008.4         5         3     17.5     25.7        Yes
2       1009.5       1007.2         8         7     15.4     20.2        Yes
3       1005.5       1007.0         2         7     13.5     14.1        Yes
4       1018.3       1018.5         7         7     11.1     15.4        Yes

   RISK_MM RainTomorrow
0      3.6          Yes
1      3.6          Yes
2     39.8          Yes
3      2.8          Yes
4      0.0           No

[5 rows x 22 columns]

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 366 entries, 0 to 365
Data columns (total 22 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   MinTemp        366 non-null    float64
 1   MaxTemp        366 non-null    float64
 2   Rainfall       366 non-null    float64
 3   Evaporation    366 non-null    float64
 4   Sunshine       363 non-null    float64
 5   WindGustDir    363 non-null    object
 6   WindGustSpeed  364 non-null    float64
 7   WindDir9am     335 non-null    object
 8   WindDir3pm     365 non-null    object
 9   WindSpeed9am   359 non-null    float64
 10  WindSpeed3pm   366 non-null    int64
 11  Humidity9am    366 non-null    int64
 12  Humidity3pm    366 non-null    int64
 13  Pressure9am    366 non-null    float64
 14  Pressure3pm    366 non-null    float64
 15  Cloud9am       366 non-null    int64
 16  Cloud3pm       366 non-null    int64
 17  Temp9am        366 non-null    float64
 18  Temp3pm        366 non-null    float64
 19  RainToday      366 non-null    object
 20  RISK_MM        366 non-null    float64
 21  RainTomorrow   366 non-null    object
dtypes: float64(12), int64(5), object(5)
memory usage: 63.0+ KB

In [4]:
df[df.duplicated()]

Empty DataFrame
Columns: [MinTemp, MaxTemp, Rainfall, Evaporation, Sunshine, WindGustDir, WindGustSpeed, WindDir9am, WindDir3pm, WindSpeed9am, WindSpeed3pm, Humidity9am, Humidity3pm, Pressure9am, Pressure3pm, Cloud9am, Cloud3pm, Temp9am, Temp3pm, RainToday, RISK_MM, RainTomorrow]
Index: []

[0 rows x 22 columns]

In [5]:
df.isnull().sum()

MinTemp           0
MaxTemp           0
Rainfall          0
Evaporation       0
Sunshine          3
WindGustDir       3
WindGustSpeed     2
WindDir9am       31
WindDir3pm        1
WindSpeed9am      7
WindSpeed3pm      0
Humidity9am       0
Humidity3pm       0
Pressure9am       0
Pressure3pm       0
Cloud9am          0
Cloud3pm          0
Temp9am           0
Temp3pm           0
RainToday         0
RISK_MM           0
RainTomorrow      0
dtype: int64

In [6]:
df.drop('Sunshine',inplace=True,axis=1)

In [7]:
df.drop('WindGustDir',inplace=True,axis=1)

In [8]:
df.drop('WindGustSpeed',inplace=True,axis=1)

In [9]:
df.drop('WindDir9am',inplace=True,axis=1)
df.drop('WindDir3pm',inplace=True,axis=1)
df.drop('WindSpeed9am',inplace=True,axis=1)
df.drop('WindSpeed3pm',inplace=True,axis=1)

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 366 entries, 0 to 365
Data columns (total 15 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   MinTemp       366 non-null    float64
 1   MaxTemp       366 non-null    float64
 2   Rainfall      366 non-null    float64
 3   Evaporation   366 non-null    float64
 4   Humidity9am   366 non-null    int64
 5   Humidity3pm   366 non-null    int64
 6   Pressure9am   366 non-null    float64
 7   Pressure3pm   366 non-null    float64
 8   Cloud9am      366 non-null    int64
 9   Cloud3pm      366 non-null    int64
 10  Temp9am       366 non-null    float64
 11  Temp3pm       366 non-null    float64
 12  RainToday     366 non-null    object
 13  RISK_MM       366 non-null    float64
 14  RainTomorrow  366 non-null    object
dtypes: float64(9), int64(4), object(2)
memory usage: 43.0+ KB

In [11]:
df.isnull().sum()

MinTemp         0
MaxTemp         0
Rainfall        0
Evaporation     0
Humidity9am     0
Humidity3pm     0
Pressure9am     0
Pressure3pm     0
Cloud9am        0
Cloud3pm        0
Temp9am         0
Temp3pm         0
RainToday       0
RISK_MM         0
RainTomorrow    0
dtype: int64

In [12]:
num=[n for n in df.columns if df[n].dtype!='O']
print(num)

['MinTemp', 'MaxTemp', 'Rainfall', 'Evaporation', 'Humidity9am', 'Humidity3pm', 'Pressure9am', 'Pressure3pm', 'Cloud9am', 'Cloud3pm', 'Temp9am', 'Temp3pm', 'RISK_MM']

In [13]:
cat=[n for n in df.columns if df[n].dtype=='O']
print(cat)

['RainToday', 'RainTomorrow']

In [10]:
t=df.to_csv('new_weather.csv',index=False)

NameError: name 'df' is not defined

In [19]:
d=pd.read_csv('C:\\Users\\navee\\Cisco Packet Tracer 8.2.2\\saves\\bentoml\\notebook\\new_weather.csv')
d.head()
d.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 366 entries, 0 to 365
Data columns (total 15 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   MinTemp       366 non-null    float64
 1   MaxTemp       366 non-null    float64
 2   Rainfall      366 non-null    float64
 3   Evaporation   366 non-null    float64
 4   Humidity9am   366 non-null    int64
 5   Humidity3pm   366 non-null    int64
 6   Pressure9am   366 non-null    float64
 7   Pressure3pm   366 non-null    float64
 8   Cloud9am      366 non-null    int64
 9   Cloud3pm      366 non-null    int64
 10  Temp9am       366 non-null    float64
 11  Temp3pm       366 non-null    float64
 12  RainToday     366 non-null    object
 13  RISK_MM       366 non-null    float64
 14  RainTomorrow  366 non-null    object
dtypes: float64(9), int64(4), object(2)
memory usage: 43.0+ KB